/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #F0F0F7;
    color: #707070;
    scroll-behavior: smooth;
}

/* ---------------------------------------------- */
/* NAVIGATION */
/* ---------------------------------------------- */

.nav-bar {
    position: fixed;
    top: 0;
    width: 260px;
    height: 100%;
    background-color: #43425D;
    color: #fff;
    font-size: 15px;
}

.nav-bar header {
    height: 70px;
    line-height: 70px;
    background-color: rgb(61, 60, 94);
}

header h1 {
    font-size: 15px;
    margin: 0 0 0 20px;
    vertical-align: middle;
    letter-spacing: 3px;
}

.nav-links li {
    height: 45px;
    line-height: 45px;
    padding-left: 35px;
    list-style: none;
    vertical-align: middle;
}

.nav-links li a:link,
.nav-links li a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-links li:hover {
    background-color: #49476C;
}

/* ---------------------------------------------- */
/* MAIN CONTENT */
/* ---------------------------------------------- */

.main-doc {
    margin-left: 260px;
    height: 100%;
}

.entry-container {
    background-color: #fff;
    margin: 60px auto;
    width: 85%;
    border-radius: 7px;
}

.entry-container:first-child {
    margin: 70px auto 30px auto;
}

.entry-container article {
    padding: 45px;
    line-height: 25px;
}

.entry-container h2 {
    margin-bottom: 15px;
    font-size: 35px;
    color: #4D4F5C;
    line-height: 35px;
}

.entry-container p:not(:last-child) {
    margin-bottom: 20px;
}

article ul {
    margin-left: 35px;
}

article ul li:not(:last-child) {
    margin-bottom: 20px;
}

.code-block {
    background-color:#EFEFEF;
    border-radius: 7px;
    padding: 15px;
}

.code-block:not(:last-child) {
    margin-bottom: 20px;
}

#data-types ul {
    margin-bottom: 20px;
}